<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/public.css" />
    <!--<script type="text/javascript" src="/js/jquery.min.js"></script>-->
    <script src="/js/lib/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript" src="/js/public.js"></script>
    <title>首页导航</title>
</head>
<body id="bg">
<!-- 左边节点 -->
<div class="container">

    <div class="leftsidebar_box">
        <a href="/controller/admin/main" target="main">
            <div class="line"><img src="/img/coin01.png" />&nbsp;&nbsp;首页</div>
        </a>

        <dl class="system_log">
            <dt>
                <img class="icon1" src="/img/coin03.png" />
                <img class="icon2" src="/img/coin04.png" /> 用户管理
                <img class="icon3" src="/img/coin19.png" />
                <img class="icon4" src="/img/coin20.png" />
            </dt>
            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" /><a class="cks" href="/controller/user/userList" target="main">用户管理</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>
        </dl>
        <dl class="system_log">
            <dt>
                <img class="icon1" src="/img/coin03.png" />
                <img class="icon2" src="/img/coin04.png" /> 产品类型管理
                <img class="icon3" src="/img/coin19.png" />
                <img class="icon4" src="/img/coin20.png" />
            </dt>
            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" /><a class="cks" href="/controller/goods/goodstype" target="main">类型管理</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>
        </dl>
        <dl class="system_log">
            <dt>
                <img class="icon1" src="/img/coin03.png" />
                <img class="icon2" src="/img/coin04.png" /> 商品管理
                <img class="icon3" src="/img/coin19.png" />
                <img class="icon4" src="/img/coin20.png" />
            </dt>
            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" />
                <a class="cks" href="/controller/goods/goodstype" target="main">商品类型</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" />
                <a class="cks" href="/controller/shop" target="main">店铺</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" />
                <a class="cks" href="/controller/goods/list" target="main">商品管理</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>
        </dl>
        <dl class="system_log">
            <dt>
                <img class="icon1" src="/img/coin03.png" />
                <img class="icon2" src="/img/coin04.png" /> 订单管理
                <img class="icon3" src="/img/coin19.png" />
                <img class="icon4" src="/img/coin20.png" />
            </dt>
            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" />
                <a class="cks" href="/controller/order/buy" target="main">购买列表</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" />
                <a class="cks" href="/controller/order/zu" target="main">租用列表</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>
        </dl>

        <dl class="system_log">
            <dt>
                <img class="icon1" src="/img/coin03.png" />
                <img class="icon2" src="/img/coin04.png" /> 押金管理
                <img class="icon3" src="/img/coin19.png" />
                <img class="icon4" src="/img/coin20.png" />
            </dt>


            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" /><a class="cks" href="/controller/order/depositList" target="main">退押金</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>


        </dl>
        <dl class="system_log">
            <dt>
                <img class="icon1" src="/img/coin03.png" />
                <img class="icon2" src="/img/coin04.png" /> 管理员管理
                <img class="icon3" src="/img/coin19.png" />
                <img class="icon4" src="/img/coin20.png" />
            </dt>

            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" /><a class="cks" href="/controller/admin/adminList" target="main">管理员列表</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>
        </dl>
        <dl class="system_log">
            <dt>
                <img class="icon1" src="/img/coin03.png" />
                <img class="icon2" src="/img/coin04.png" /> VIP等级管理
                <img class="icon3" src="/img/coin19.png" />
                <img class="icon4" src="/img/coin20.png" />
            </dt>

            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" /><a class="cks" href="/controller/viptype/viplist" target="main">VIP等级列表</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/img/coin111.png" />
                <img class="coin22" src="/img/coin222.png" /><a class="cks" href="/controller/vipDeposit/vipDepositList" target="main">会员订单管理</a>
                <img class="icon5" src="/img/coin21.png" />
            </dd>
        </dl>
    </div>

</div>
</body>
</html>