<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品新增编辑</title>


    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="">
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/css/mars.css" rel="stylesheet">

    <script src="/js/lib/jquery.min.js?v=2.1.4"></script>
    <script src="/js/lib/jsrender.min.js"></script>
    <script src="/js/lib/layer.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/lib/jquery.cxselect.min.js"></script>

    <!-- 业务处理js -->
    <script src="/js/goods/goods_edit.js"></script>
    <style>
        .smallImage{
            width: 110px;
            height: 110px;
        }
    </style>


</head>
<input value="${goodsId}" type="hidden" id="goodsId">
<input value="${type}" type="hidden" id="type">

<body class="gray-bg">
<div class="wrapper-content animated fadeInRight">
    <div class="row mb20">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">商品管理</a>
                </li>
                <li class="active">新增编辑商品</li>
            </ol>
        </div>
    </div>
    <div class="row form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-1 control-label pr0"><i class="form-star">*</i>商品名称</label>
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <input type="text" id="goodsName" class="form-control" placeholder="商品名称">
                </div>
            </div>
        </div>
    </div>

    <div class="row form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-1 control-label pr0"><i class="form-star">*</i>商品库存</label>
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <input type="text" id="stock" class="form-control" placeholder="商品库存数字类型" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                </div>
            </div>
        </div>
    </div>


    <div class="row form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-1 control-label pr0"><i class="form-star">*</i>购买单价</label>
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <input type="text" id="goodsPrice" class="form-control" placeholder="购买单价单位（元）" >
                </div>
            </div>
        </div>
    </div>

    <div class="row form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-1 control-label pr0"><i class="form-star">*</i>商品类别</label>
                <div class="col-xs-4 col-sm-4 col-md-3" id="global_location">
                    <p>
                        <select class="country" data-first-title="请选择" disabled="disabled"></select>

                        <select class="state" disabled="disabled"></select>

                        <select class="city" disabled="disabled"></select>

                        <select class="region" disabled="disabled"></select>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-1 control-label pr0"><i class="form-star">*</i>是否广告位展示</label>
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <p>
                        <select id="isBanner">
                            <option value="0">不展示</option>
                            <option value="1">展示</option>
                        </select>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-1 control-label pr0">商品图片</label>
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <span id="banner"></span>
                    <button type="button" class="btn btn-danger" onclick="goodsObj.selectImg()" >商品图片</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-1 control-label pr0"><i class="form-star">*</i>服务商信息</label>
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <input type="text" id="serviceProvider" class="form-control" placeholder="服务商信息" >
                </div>
            </div>
        </div>
    </div>
    <div class="row form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-1 control-label pr0"><i class="form-star">*</i>商品详情</label>
            </div>
        </div>
    </div>

    <div style="height: 900px">
        <iframe name="euditorFrame" id="euditorFrame" src="/test" width="100%" height="100%" frameborder="0"></iframe>
    </div>

    <div class="row form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <button type="button" class="btn btn-danger" id="submit">提交</button>
                </div>
            </div>
        </div>
    </div>


</div>
</body>

<script>


    $('#global_location').cxSelect({

        url: '/resource/productType/getSelectDomList',

        selects: ['country', 'state', 'city', 'region'],

        required:false,

        firstTitle:"请选择",

        firstValue:"0",

        nodata: 'none'

    });

</script>
</html>
