<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务商列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="">
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/css/mars.css" rel="stylesheet">

    <script src="/js/lib/jquery.min.js?v=2.1.4"></script>
    <script src="/js/lib/jsrender.min.js"></script>
    <script src="/js/lib/layer.js"></script>
    <script src="/js/lib/WdatePicker.js"></script>
    <script src="/js/common/common.js"></script>
    <!-- 业务处理js -->
    <script src="/js/serviceprovider/serviceprovider_list.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper-content animated fadeInRight">
    <div class="row mb20">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">服务商管理</a>
                </li>
                <li class="active">服务商列表</li>
            </ol>
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-12">
            <div class="jy-formBox w-label">
                <div class="row mb15 form-inline">
                    <div class="col-xs-6 col-sm-3 col-md-3 pr0">
                        <div class="form-group">
                            <label>服务商id</label>
                            <input type="text" class="form-control" id="serviceproviderid" placeholder="服务商id">
                        </div>
                    </div>
                    <button class="btn btn-primary" id="searchButton">查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed mb0">
                    <thead>
                    <tr>
                        <th>审核</th>
                        <th>服务商id</th>
                        <th>用户id</th>
                        <th>负责人</th>
                        <th>联系人</th>
                        <th>公司地址</th>
                        <th>服务范围</th>
                        <th>是否通过审核</th>
                    </tr>
                    </thead>
                    <tbody id="data"></tbody>
                </table>
            </div>
        </div>
    </div>
    #page()
</div>
</body>
<!-- 列表模板 -->
<script id="dataTemplate" type="text/x-jsrender">
    <tr>
        <td>
            {{if status == "0"}}<a onclick="checkStatus({{:id}})">审核</a>
            {{else}}审核
            {{/if}}
        </td>
        <td>{{:id}}</td>
        <td>{{:userId}}</td>
        <td>{{:controller}}</td>
        <td>{{:contacts}}</td>
        <td>{{:companyAddress}}</td>
        <td>{{:serviceRange}}</td>
        <td>
            {{if status == "0"}}未通过
            {{else}}通过
            {{/if}}
        </td>
    </tr>
</script>
</html>