<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glory.shenghuo.mapper.CollectionMapper">

    <insert id="add" parameterType="com.glory.shenghuo.api.collection.pojo.CollectionPojo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_collection (product_id,product_name,product_price,product_img,user_id,product_type)
        VALUES (#{productId},#{productName},#{productPrice},#{productImg},#{userId},#{productType})
    </insert>

    <delete id="delete" parameterType="Integer">
        DELETE FROM tb_collection WHERE id=#{id}
    </delete>

    <select id="getAllListByUserId" parameterType="Integer" resultType="com.glory.shenghuo.api.collection.pojo.CollectionPojo">
        SELECT * FROM tb_collection WHERE user_id=#{userId}
    </select>
</mapper>
