<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glory.shenghuo.mapper.GoodsImageMapper">

    <insert id="insert" parameterType="com.glory.shenghuo.api.goods.pojo.GoodsImagePojo">
        INSERT INTO tb_goodsimages (url,goods_id) VALUES (#{url},#{goodsId})
    </insert>

    <delete id="delete" parameterType="Integer">
      DELETE FROM tb_goodsimages WHERE id=#{id}
    </delete>

    <select id="getAllImagesByGoodsId" parameterType="Integer" resultType="com.glory.shenghuo.api.goods.pojo.GoodsImagePojo">
        SELECT * FROM tb_goodsimages WHERE goods_id=#{goodsId}
    </select>
</mapper>
