<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glory.shenghuo.mapper.GoodsMapper">

    <insert id="insert" parameterType="com.glory.shenghuo.api.goods.param.GoodsInsertParam" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_goods (goods_name,goods_price,goods_type,goods_detail,stock,is_banner,goods_img,service_provider,original_price,profit)
        VALUES (#{goodsName},#{goodsPrice},#{goodsType},#{goodsDetail},#{stock},#{isBanner},#{goodsImg},#{serviceProvider},#{originalPrice},#{profit})
    </insert>

    <update id="update" parameterType="com.glory.shenghuo.api.goods.pojo.GoodsPojo">
        UPDATE tb_goods SET
        goods_name=#{goodsName},
        goods_price=#{goodsPrice},
        goods_type=#{goodsType},
        goods_detail=#{goodsDetail},
        stock=#{stock},
        is_banner=#{isBanner},
        goods_img=#{goodsImg},
        service_provider=#{serviceProvider},
        original_price=#{original_price},
        profit=#{profit}
        WHERE id=#{id}
    </update>

    <select id="getDetail" parameterType="Integer" resultType="com.glory.shenghuo.api.goods.pojo.GoodsPojo">
        SELECT * FROM tb_goods WHERE id=#{id}
    </select>

    <select id="getAllList" resultType="com.glory.shenghuo.api.goods.pojo.GoodsPojo" parameterType="com.glory.shenghuo.api.goods.param.GoodsListParam">
        SELECT
          *
        FROM tb_goods
        where 1 = 1
        <if test="id!=null and id!=0 ">
            AND id = #{id}
        </if>
        <if test="goodsName!=null and goodsName!=''">
            AND goodsName like CONCAT('%', #{goodsName}, '%')
        </if>

    </select>

    <select id="getBannerGoodsList" resultType="com.glory.shenghuo.api.goods.pojo.GoodsPojo">
        SELECT
          *
        FROM tb_goods
        where is_banner = 1
    </select>

    <update id="changeRecGoodsState" parameterType="com.glory.shenghuo.api.goods.param.ChangeRecGoodsStateParam">
        UPDATE tb_goods SET
        is_rec=#{state}
        WHERE id = #{goodsId}
    </update>
<!--获取推荐的建材-->
    <select id="getRecGoodsList" resultType="com.glory.shenghuo.api.goods.pojo.GoodsPojo">
        SELECT * FROM tb_goods WHERE is_rec=1
    </select>

    <select id="appGetGoodsList" parameterType="com.glory.shenghuo.api.goods.param.AppGetDataListParam" resultType="com.glory.shenghuo.api.goods.pojo.GoodsPojo">
        SELECT
          *
        FROM tb_goods
        <where>
            <if test="classify!=null and classify!=0 ">
                AND goods_type = #{classify}
            </if>
            <if test="keyWord!=null and keyWord!=''">
                AND goodsName like CONCAT('%', #{keyWord}, '%')
            </if>
        </where>
    </select>
</mapper>
