<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glory.shenghuo.mapper.ServiceMapper">

    <insert id="add" parameterType="com.glory.shenghuo.api.service.pojo.ServicePojo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_service (service_name,service_price,service_type,is_banner,service_detail,service_img,see_type,is_rec,is_discount,discount_price)
        VALUES (#{serviceName},#{servicePrice},#{serviceType},#{isBanner},#{serviceDetail},#{serviceImg},#{seeType},#{isRec},#{isDiscount},#{discountPrice})
    </insert>

    <update id="update" parameterType="com.glory.shenghuo.api.service.pojo.ServicePojo">
        UPDATE tb_service SET
        service_name=#{serviceName},
        service_price=#{servicePrice},
        service_type=#{serviceType},
        is_banner=#{isBanner},
        service_detail=#{serviceDetail},
        service_img=#{serviceImg},
        see_type=#{seeType},
        is_rec=#{isRec},
        is_discount=#{isDiscount},
        discount_price=#{discountPrice}
        WHERE id=#{id}
    </update>

    <select id="getDetail" parameterType="Integer" resultType="com.glory.shenghuo.api.service.pojo.ServicePojo">
        SELECT * FROM tb_service WHERE id=#{id}
    </select>

    <select id="delete" parameterType="Integer">
        DELETE FROM tb_service WHERE id=#{id}
    </select>

    <select id="getBannerServiceList" resultType="com.glory.shenghuo.api.service.pojo.ServicePojo">
         SELECT * FROM tb_service WHERE is_banner=1
    </select>

    <select id="getRecServiceList" resultType="com.glory.shenghuo.api.service.pojo.ServicePojo">
        SELECT * FROM tb_service WHERE is_rec=1
    </select>

    <select id="getAllList" resultType="com.glory.shenghuo.api.service.pojo.ServicePojo" parameterType="com.glory.shenghuo.api.service.param.ServiceListParam">
        SELECT
          *
        FROM tb_service
        where 1 = 1
        <if test="id!=null and id!=0 ">
            AND id = #{id}
        </if>
        <if test="serviceName!=null and serviceName!=''">
            AND service_name like CONCAT('%', #{serviceName}, '%')
        </if>

    </select>

    <select id="appGetServiceList" parameterType="com.glory.shenghuo.api.goods.param.AppGetDataListParam" resultType="com.glory.shenghuo.api.service.pojo.ServicePojo">
        SELECT
          *
        FROM tb_service
        <where>
            <if test="classify!=null and classify!=0 ">
                AND service_type = #{classify}
            </if>
            <if test="keyWord!=null and keyWord!=''">
                AND service_name like CONCAT('%', #{keyWord}, '%')
            </if>
        </where>
    </select>

    <!--获取是优惠的服务-->
    <select id="getDiscountServiceList" resultType="com.glory.shenghuo.api.service.pojo.ServicePojo">
         SELECT
          *
        FROM tb_service WHERE is_iscount=1
    </select>
</mapper>
