<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="">
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/css/mars.css" rel="stylesheet">

    <script src="/js/lib/jquery.min.js?v=2.1.4"></script>
    <script src="/js/lib/jsrender.min.js"></script>
    <script src="/js/lib/layer.js"></script>
    <script src="/js/lib/WdatePicker.js"></script>
    <script src="/js/common/common.js"></script>
    <!-- 业务处理js -->
    <script src="/js/user/user_list.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper-content animated fadeInRight">
    <div class="row mb20">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">用户管理</a>
                </li>
                <li class="active">用户列表</li>
            </ol>
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-12">
            <div class="jy-formBox w-label">
                <!--<div class="row mb15 form-inline">
                    <div class="col-xs-6 col-sm-3 col-md-3 pr0">
                        <div class="form-group">
                            <label>用户名称</label>
                            <input type="text" class="form-control" id="userName" placeholder="用户名称">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 pr0">
                        <div class="form-group w20">
                            <label>用户性别</label>
                            <select class="form-control" name="userSex" id="userSex">
                                <option value="">请选择</option>
                                <option value="1">男</option>
                                <option value="0">女</option>
                            </select>
                        </div>
                    </div>
                </div>-->
                <div class="row mb15 form-inline">
                    <div class="col-xs-6 col-sm-3 col-md-3 pr0">
                        <div class="form-group">
                            <label>用户手机</label>
                            <input type="text" class="form-control" id="phone" placeholder="用户手机">
                        </div>
                    </div>
                    <button class="btn btn-primary" id="searchButton">查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed mb0">
                    <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>用户名</th>
                        <th>头像</th>
                        <th>用户类型</th>
                        <th>注册时间</th>
                        <th>手机号</th>
                    </tr>
                    </thead>
                    <tbody id="data"></tbody>
                </table>
            </div>
        </div>
    </div>
    #page()
</div>
</body>

<!-- 列表模板 -->
<script id="dataTemplate" type="text/x-jsrender">
    <tr>
        <td>{{:userId}}</td>
        <td>{{:userName}}</td>
        <td>{{:headImg}}</td>
        <td>{{:userType}}</td>
         <td>{{if createTime != null}}{{format:createTime}}{{/if}}</td>
        <td>{{:phone}}</td>
    </tr>
</script>
</html>
