<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="">
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/css/mars.css" rel="stylesheet">

    <script src="/js/lib/jquery.min.js?v=2.1.4"></script>
    <script src="/js/lib/jsrender.min.js"></script>
    <script src="/js/lib/layer.js"></script>
    <script src="/js/lib/WdatePicker.js"></script>
    <script src="/js/common/common.js"></script>
    <!-- 业务处理js -->
    <script src="/js/order/order_list.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper-content animated fadeInRight">
    <div class="row mb20">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">订单管理</a>
                </li>
                <li class="active">订单列表</li>
            </ol>
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-12">
            <div class="jy-formBox w-label">
                <div class="row mb15 form-inline">
                    <div class="col-xs-6 col-sm-3 col-md-3 pr0">
                        <div class="form-group">
                            <label>订单号</label>
                            <input type="text" class="form-control" id="orderid" placeholder="订单号">
                        </div>
                    </div>
                    <button class="btn btn-primary" id="searchButton">查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed mb0">
                    <thead>
                    <tr>
                        <th>详情</th>
                        <th>用户id</th>
                        <th>创建时间</th>
                        <th>收货人姓名</th>
                        <th>收货人电话</th>
                        <th>收货人地址</th>
                        <th>配送方式</th>
                        <th>预约时间</th>
                        <th>订单状态</th>
                        <th>订单状态文字描述</th>
                        <th>商户订单号</th>
                        <th>支付宝交易号</th>
                        <th>微信交易号</th>
                    </tr>
                    </thead>
                    <tbody id="data"></tbody>
                </table>
            </div>
        </div>
    </div>
    #page()
</div>
</body>
<!-- 列表模板 -->
<script id="dataTemplate" type="text/x-jsrender">
    <tr>
        <td>
            <a href="/controller/order/detail?orderId={{:id}}">详情</a>
        </td>
        <td>{{:userId}}</td>
        <td>{{:createTime}}</td>
        <td>{{:receiveName}}</td>
        <td>{{:receivePhone}}</td>
        <td>{{:receiveAddress}}</td>
        <td>{{:transportType}}</td>
        <td>{{:serviceTime}}</td>
        <td>{{:orderState}}</td>
        <td>{{:orderStateCn}}</td>
        <td>{{:outTradeNo}}</td>
        <td>{{:tradeNo}}</td>
        <td>{{:transactionId}}</td>
    </tr>
</script>
<script id="goodstype_template" type="text/x-jsrender">
    <option value="{{:id}}" >{{:typename}}</option>
</script>
<script id="shop_template" type="text/x-jsrender">
    <option value="{{:id}}" >{{:shopname}}</option>
</script>
</html>